<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dondon.gunicorn</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/dondon/Code/ass-django/start_all.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/dondon/Library/Logs/gunicorn-startup.log</string>
    <key>StandardOutPath</key>
    <string>/Users/dondon/Library/Logs/gunicorn-startup.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/dondon/Code/ass-django</string>
</dict>
</plist>