<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dondon.django-yolo</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-l</string>
        <string>-c</string>
        <string>cd /Users/dondon/Code/ass-django/server/ && source venv/bin/activate && python3 -m gunicorn --workers 3 --bind 127.0.0.1:8000 config.wsgi:application</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/dondon/Library/Logs/django-yolo.log</string>
    <key>StandardOutPath</key>
    <string>/Users/dondon/Library/Logs/django-yolo.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/dondon/Code/ass-django/server</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/dondon/Code/ass-django/server</string>
        <key>DJANGO_SETTINGS_MODULE</key>
        <string>config.settings</string>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin:/usr/local/bin</string>
        <key>HOME</key>
        <string>/Users/dondon</string>
        <key>SHELL</key>
        <string>/bin/zsh</string>
    </dict>
</dict>
</plist>